@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css';

 
  h1 {
    font-weight: 100;
    font-size: 2em;
  }
  
  p {
    font-size: larger;
  }
  
  .eight-ball {
    background-image: url("../img/were\ all\ amd.webp");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .answer {
    /* background-color: #333; */
    /* border: 1px solid #333; */
    border-radius: 50%;
    width: 50%;
    height: 50%;
    /* margin: 5% auto; */
    padding-top: 200px;
  }

  #eight {
    font-size: 5em;
    margin: 150px;
    color: rgb(255, 30, 30);
  }
  
  #answer {
    padding: 20px;
    margin-top: 5px auto;
    color: rgb(255, 30, 30);
    letter-spacing: 2px;
    font-size: x-large;
  }

  .quesbox {
    border-radius: 10px;
    border: 5px solid #1b2af7  
  }
  
input {
  margin: 20px;
  padding: 10px;
  border: 3px solid #C936FF;
  border-radius: 10px;
  cursor: pointer;   
  }

button {
  margin-top: 100px;
  padding: 10px;
  border: 3px solid #C936FF;
  border-radius: 10px;
  cursor: pointer; 
}

input[type=text] {background-color:rgb(179, 247, 27, 0.2);
color: black;
}

  #button {
  border-radius: 10px;
  margin: 240px;  
}
   
  button:hover {
    font-size: 1.3em;
    background-color: rgb(179, 247, 27)    
  }
  
  .footer1 {
margin: 10px 0px 0px 5px;
  }


  